*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

body{
    margin-top: 100px;
    justify-content: center;
}

.Hero{
    position:absolute;
    margin-left: 200px;
}

.Hero h1{
    font-size: 60px;
    position: absolute;
    margin-top: 450px;
    margin-left: 100px;
}

.About pre{
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: 600px;
}

.About h1{
    margin-left: 680px;
}

.portfoliobar{
    position: absolute;
}

.portfoliobar a h1{
    font-size: 80px ;
    text-decoration: none;
    color: black;
    margin-top: 410px;
    margin-left: 180px;
}